.header-big-service {
    font-size: 7rem;
    font-family: sans-serif;
    color: orange;
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
}

/* Total service */

.layout-service {
    background-color: #303030;
    position: relative;
    margin-top: 70px;
}

.select-service {
    position: absolute;
    bottom: 100%;
    left: 0;
    display: flex;
}

.btn-service {
    background-color: #303030;
    padding: 13px 33px;
    font-size: 1.7rem;
    color: #fff;
    opacity: 0.3;
}

.select-btn-service {
    opacity: 1;
}

.total-service {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 50px 70px;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.service-social {
    position: absolute;
    left: 10px;
    display: flex;
    flex-direction: column;
}

.item-service-social {
    width: 65px;
    height: 65px;
    margin: 20px 0;
    border-radius: 50%;
    line-height: 65px;
    text-align: center;
    font-size: 2.8rem;
    color: rgba(255, 255, 255, 0.545);
    background-color: #38383899;
}

.select-social {
    color: #fff;
    background-color: #202020;
    box-shadow: -0px -0px 10px 5px rgba(10, 10, 10, 0.3),
    inset -0px -0px 10px rgba(255, 255, 255, 0.3);
}

.banner {
    width: 50%;
    padding: 0 20px;
}


.img-banner img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.attention {
    margin-top: 50px;
    width: 100%;
    border: 1px solid orange;
    border-radius: 10px;
    padding: 20px 40px;
    font-size: 1.5rem;
    color: #fff;
}

.attention li {
    padding: 5px 0;
}

.attention li:nth-child(1) {
    color: orange;
    font-size: 2rem;
}

textarea {
    display: none;
    max-width: 100%;
    min-width: 100%;
    max-height: 220px;
    min-height: 220px;
    background-color: #202020;
    color: #fff;
    padding: 20px;
    outline: none;
    border-radius: 10px;
}

.form-service {
    width: 50%;
    padding: 0 30px;
}

.option-service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: #202020;
    padding: 13px 40px;       
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    color: #fff;
}

.name-service {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-option {
    display: none;
    position: absolute;
    background-color: #202020;
    width: 100%;
    left: 0;
    top: calc(100% + 20px);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.642);
    z-index: 3;
}

.list-option-facebook, 
.list-option-instagram,
.list-option-tiktok {
    display: none;
}

.list-option li {
    padding: 10px 40px;
    border-radius: 10px;
}

.list-option li:hover {
    background-color: rgba(6, 6, 6, 0.305);
}

.list-option-move {
    display: block;
}

.option-service i {
    margin-top: 5px;
}

label {
    display: block;
    font-size: 1.7rem;
    padding:5px 10px;
    color: #fff;
}

.input-service {
    width: 100%;    
    background-color: #202020;
    padding: 13px 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #fff;
}

.message {
    color: rgb(255, 88, 88);
    font-size: 1.3rem;
    padding-left: 10px;
    display: none;
}

.group-form {
    margin: 20px 0;
}

.trading-code,
.total-money {
    display: flex;
    font-size: 2.5rem;
    /* color: #5301FF; */
    color: #FFD601;
}

.trading-code {
    font-size: 1.5rem;
    margin-top: 30px;
    padding-left: 10px;
}

.text-code,
.text-total {
    margin-right: 5px;
}

.complete {
    padding: 10px;
    text-align: center;
    width: 100%; 
    background-color: #141414;
    font-size: 2.5rem;
    border-radius: 10px;
    color: #FFD601;
    cursor: pointer;
    margin-top: 5px;
}

.complete:active {
    background-color: rgb(2, 2, 2);
    transform: scale(98%);
}

label[for="insurance"],
label[for="no-insurance"] {
    display: inline-block;
    padding-right: 30px;
}

input[type="radio"] {
    color: #000;
    background-color: #000;
}

.form-maintenance {
    display: none;
}

.maintenance {
    text-align: center;
    color: rgb(255, 174, 52);
    font-size: 5rem;
    font-family: sans-serif;
    border-radius: 20px;
    margin-top: 50px;
    padding: 50px;
    box-shadow: 
    inset 0 0 20px 10px rgba(255, 255, 255, 0.3);
    position: relative;
}

.maintenance::after {
    content: "";
    width: 80%;
    top:calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    background-color: #0808087d;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.334);
}

.maintenance i {
    font-size: 15rem;
    margin-top: 50px;
}

.form-payment {
    display: none;
    position: relative;
    width: 50%;
    padding: 30px;
}

.header-payment {
    font-size: 4.5rem;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.select-payment {
    width: 100%;
    background-color: #202020;
    height: 45px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 45px;
    padding: 0 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-payment {
    position: absolute;
    background-color: #232323;
    width: 100%;
    border-radius: 10px;
    top: calc(100% + 10px);
    left: 0;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.266);
    overflow: hidden;
    display: none;
}

.list-payment-move {
    display: block;
}

.list-payment li {
    padding-left: 10px;
}

.list-payment li:hover {
    background-color: rgba(236, 236, 236, 0.2);
}

.input-payment {
    color: rgba(255, 255, 255, 0.8);
}

.back {
    width: 100px;
    height: 40px;
    background-color: #232323;
    position: absolute;
    top: calc(100% + 10px);
    left: 0px;
    line-height: 40px;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.form-thank {
    display: none;
}

.header-thank {
    font-size: 5rem;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 0;
    color: orange;
}

.text-thank li {
    color: orange;
    font-size: 1.6rem;
    padding: 2px 10px;
}

.btn-new-job {
    width: 200px;
    height: 50px;
    background-color: #202020;
    color: orange;
    font-size: 2rem;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
    margin-top: 40px;
    cursor: pointer;
}

.form-thank img {
    width: 400px;
    margin: 30px 0;
    border-radius: 40px;
}

.ads {
    height: 600px;
    padding: 50px;
    display: none;
}
