@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@600&family=Encode+Sans:wght@700&family=Fredoka+One&family=Inter:wght@300&family=Jura&family=Quicksand&family=Zen+Loop&display=swap');

html {
    font-family: 'Quicksand', sans-serif;
    background-color: #202020;
}


/* HEADING */

#heading {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #111111;
    justify-content: space-between;
    /* box-shadow: 0 0px 10px rgb(237, 182, 253); */
}

.logo {
    font-family: 'Fredoka One', cursive;
    font-size: 2.2rem;
    color: #ff6060;
    height: 40px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 1px;
    position: relative;
}

.logo::after {
    position: absolute;
    content: "";
    width: 120px;
    height: 30px;
    background-color: #111111;
    border-left: rgb(255, 255, 255) solid 1px;
    top: 5px;
    animation: moveLogo ease-in-out 5s 1s infinite;
    transform: translateX(-40%);
}

@keyframes moveLogo {
    0% {
        transform: translateX(-40%);
    }

    33% {
        transform: translateX(-26%);
    }

    66% {
        transform: translateX(-12%);
    }

    100% {
        transform: translateX(3%);
    }
}

.menu-mobile {
    color: #fff;
    font-size: 3rem;
    position: absolute;
    right: 20px;
    cursor: pointer;
    display: none;
}

.navigation ul {
    display: flex;
    align-items: center;
}

.item-nav {
    padding: 20px 15px;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(175, 175, 175);
    position: relative;
    margin: 0 10px;
}

.nav-mobile {
    display: none;
}

.select.item-nav::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #fff;
    bottom: 12px;
    left: 0px;
}

.item-nav:hover {
    text-shadow:  0px 0px 40px #fff;
    filter: drop-shadow(0px 0px 30px #fff);
    color: #fff;
    transform: translateY(-8%)
}

.info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    /* border: #fff solid 1px; */
}


.search {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 1.6rem;
    color: #ff6060;
    margin-right: 10px;
    cursor: pointer;
}

.box-search {
    position: absolute;
    top: calc(100% + 20px);
    right: calc(100% - 40px);
    display: flex;
    align-items: center;
    border-bottom: #fff solid 1px;
    transform: translateY(-100%);
    visibility: hidden;
    transition: all linear 0.3s;
    opacity: 0;
}

.move-search {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.box-search input {
    padding: 5px 5px;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    width: 170px;
}

.box-search i {
    font-size: 1.7rem;
    padding: 5px 10px;
    border-radius: 5px;
    color: #ff6060;
    cursor: pointer;
}


.btn-profile:hover,
.search:hover  {
    box-shadow: 0 0 20px #fff;
}

.search:hover .icon-search {
    font-size: 2rem;
    animation: moveSearch linear 0.6s alternate-reverse infinite;
}

@keyframes moveSearch {
    from {
        transform: translateY(-18%);
    }
    to {
        transform: translateY(5%);
    }
}


.btn-profile {
    margin-left: 10px;
    height: 40px;
    background-color: #ff6060;
    border-radius: 20px;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    cursor: pointer;
    color: #fff;
    padding: 0 25px;
}

.btn-profile:hover {
    color: #ff6060;
    background-color: #fff;
}

.item-profile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
    display: none;
}

.item-profile-move {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.box-profile {
    position: absolute;
    width: 700px;
    left: 50%;
    top: 50%;
    background: #ffffff;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    z-index: 1;
}

.header-profile {
    font-size: 3rem;
    padding: 20px 20px;
    font-weight: 600;
}

.fa-xmark {
    position: absolute;
     top: 20px;
     right: 30px;
     font-size: 2rem;
     padding: 6px 10px;
     border-radius: 50%;
     cursor: pointer;
}

.fa-xmark:hover {
    background-color: rgb(205, 205, 205);
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.information {
    font-size: 1.6rem;
    text-align: center;
}

.full-name {
    font-size: 4rem;
    line-height: 50px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info-img img {
    border-radius: 50%;
    box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3),
                5px 5px 5px  rgba(0, 0, 0, 0.2),
                15px 15px 15px  rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* CONTAINER */


/* Slider */

.slider {
    height: 380px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.slider-one {
    /* border: #fff solid 1px; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border: transparent solid 8px;
}

.slider-one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: optimizeQuality;
}

/* Thư viện swiper */

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet {
    background-color: #fff;
}

/* Post */

.product,
.post {
    margin: 50px 0;
    background-color: #303030;
    position: relative;
    padding: 5px;
}

.header-post {
    height: 40%;
    padding: 50px 200px;
    text-align: center;
    font-size: 5rem;
    color: orange;
    font-weight: 600;    
    font-family: 'Encode Sans', sans-serif;
}

.box-post {
    height: 55%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.item-post {
    width: 24%;
    padding: 10px 10px;
}

.item-post:hover.item-post img{
    opacity: 0.6;
    box-shadow: 0px 0px 3px 3px #fff;
    width: 150%;
    transform: scale(120%);
    transition: transform ease 0.4s;
}

.item-post:hover .title-post {
    color: orange;   
}

.img-post {
    width: 100%;
    height: 60%;
    overflow: hidden;
    border-radius: 15px;
}

.img-post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 15px; */
}

.title-post {
    margin: 10px 5px;
    color: #fff;
    /* height: 50px; */
    line-height: 29px;
    font-size: 1.7rem;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn-more {
    width: 18%;
    height: 40px;
    background-color: transparent;
    position: relative;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3rem;
    cursor: pointer;
    color: #fff;
}

.btn-more:hover {
    box-shadow:  0 0 0 1px #fff;
    background-color: #111111a4;
}

/* Post new */

.header {
    text-align: center;
    font-size: 5rem;
    color: orange;
    font-weight: 600;    
    font-family: 'Encode Sans', sans-serif;
    padding-top: 50px;
}

.post-new {
    height: 250px;
    display: flex;
    margin-top: 50px;
}

.img-post-new {
    width: 40%;
    height: 100%;
}

.img-post-new img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.info-post-new {
    padding-left: 80px;
}


.title-post-new {
    font-size: 2.6rem;
    font-weight: 800;
    color: #fff;
    margin: 10px 0;
}

.content-post-new {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 1.5rem;
    color: #fff;
    line-height: 23px;
}

/* Post related */

.header-related {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
    margin-top: 50px;
    padding-left: 20px;
}

.post-related {
    margin: 30px 0;
    height: 250px;
    display: flex;
}

.item-related {
    width: 25%;
    margin: 0 10px;
}

.item-related:hover .img-related {
    transform: scale(105%);
    transition: transform ease 0.3s;
}

.img-related {
    width: 100%;
    height: 80%;
}

.img-related img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.title-related {
    font-size: 1.7rem;
    color: #fff;
    margin-top: 10px;
}

/* Product */

.layout-product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 20px;
    margin: 50px 0;
}

.item-product {
    position: relative;
    background-color: #202020;
    padding: 10px;
    border-radius: 10px;
}

.hashtag-product {
    position: absolute;
    z-index: 1;
    top: 6px;
    left: 6px;
    font-size: 1.5rem;
    color: orange;
    background-color: #202020;
    padding: 2px 13px;
    border-radius: 15px;
}

.item-product img {
    width: 100%;
    height: 220px;
    border-radius: 15px;
    object-fit: cover;
}  

.title-product {
    color: #fff;
    font-size: 1.7rem;
    padding: 10px 5px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.btn-buy {
    width: 100%;
    height: 35px;
    color: orange;
    font-size: 1.6rem;
    text-align: center;
    line-height: 35px;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.341);
    background-color: #303030;
    border-radius: 5px;
    margin-top: 15px;
}

/* Service */

.service {
    margin-top: 50px;
    background-color: #303030;
    height: 240px;
    cursor: pointer;
}

.header-service {
    text-align: center;
    background-color: #161616;
    color: #fff;
    font-size: 2rem;
    padding: 5px 0;
    margin-bottom: 20px;
}

.color-fb {
    background-color: #3b5998;
}

.color-insta {
    background-image: linear-gradient(130deg, #405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
}

.color-tiktok {
    background-image: linear-gradient(90deg, #000, #25F4EE, #FE2C55, #fff);
}

.item-service {
    font-size: 1.6rem;
    color: #fff;
    padding: 7px;
    cursor: pointer;
}

.service:hover {
    background-color: #50505078;
}

/* FOOTER */

#footer {
    background-color: #111111;
    margin-top: 100px;
}

.box-footer {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

.header-footer {
    font-size: 2rem;
    color: #fff;
    font-weight: 0;
    letter-spacing: 1px;
    font-family: 'Encode Sans', sans-serif;
    margin-bottom: 15px;
    margin-top: 10px;
}

.footer-link {
    padding: 3px 5px;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    opacity: 0.8;
}

.btn-design {
    margin-top: 15px;
    font-size: 1.4rem;
    padding: 10px 20px;
    font-weight: 600;
    border: rgba(255, 255, 255, 0) solid 1px;
}

.btn-design:hover {
    background-color: #202020;
    color: #fff;
    border: #fff solid 1px;
}

.footer-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item-social {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 2.1rem;
    margin-left: 20px;
    color: #fff;
}

.item-social.fb {
    /* color: #4267B2; */
    background-color: #4267B2;
}

.item-social.yt {
    background-color: #FF0000;
}

.item-social.fb:hover {
    background-color: #ffffff;
    color: #4267B2;
}

.item-social.yt:hover {
    background-color: #ffffff;
    color: #FF0000;
}
