.header-blog {
    font-size: 7rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: orange;
    text-align: center;
    margin-top: 50px;
}

.hashtag-blog {
    background-color: #303030;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.name-hashtag-blog {
    font-size: 1.6rem;
    margin: 10px;
    background-color: #111111;
    color: #fff;
    padding: 8px 30px;
}

.list-hashtag-blog {
    position: absolute;
    top: calc(100% + 5px);
    background-color: #303030;
    font-size: 1.6rem;
    display: none;
}

.list-hashtag-blog-move {
    display: block;
}

.list-hashtag-blog li {
    padding: 10px 20px;
    color: #fff;
}

.list-hashtag-blog li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.add-hashtag-blog {
    background-color: #202020;
    padding: 8px 30px;
    margin: 3px  10px;
    font-size: 1.6rem;
    color: #303030;
    color: orange;
    position: relative;
}


.close-hashtag {
    content: "+";
    position: absolute;
    background-color: #202020;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 2.5rem;
    left: calc(100% - 15px);
    top: 50%;
    transform: translateY(-50%)
                rotate(45deg);
}

.layout-review {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 50px 20px;
}

.review {
    background-color: #303030;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.img-review img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 20px;
    flex-shrink: 0;
}

.title-review {
    flex: 1;
    font-size: 2rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5px;
    padding-top: 20px;
    line-height: 35px;
}